index.html
{
  "name": "The Algorithmic E-Com Fraud & Vector Analytics Engine (v3.0-Enterprise)",
  "description": "Enterprise automated cluster incorporating multi-line item mapping, regex phone number flattening, and secure localized ledger synchronization.",
  "flow": [
    {
      "id": 1,
      "module": "shopify:watchOrders",
      "version": 3,
      "parameters": { "status": "paid", "fulfillment_status": "unfulfilled" },
      "mapper": {},
      "metadata": { "designer": { "x": 100, "y": 150 } }
    },
    {
      "id": 2,
      "module": "iterator:lineItemIterator",
      "version": 1,
      "parameters": { "array": "{{1.line_items}}" },
      "mapper": {},
      "metadata": { "designer": { "x": 280, "y": 150 } }
    },
    {
      "id": 3,
      "module": "string:regexSanitizer",
      "version": 2,
      "parameters": {
        "text": "{{1.customer.phone}}",
        "pattern": "^(?:\\+?852)?(?:\\s|-)?(\\d{7})$",
        "global": true,
        "insensitive": true
      },
      "mapper": {},
      "metadata": { "designer": { "x": 460, "y": 150 } }
    },
    {
      "id": 4,
      "module": "router:conditionalRouter",
      "version": 1,
      "routes": [
        {
          "id": 41,
          "label": "High-Value Discrepancy Matrix",
          "filter": {
            "operator": "AND",
            "conditions": [
              { "field": "{{1.total_price}}", "operator": "gte", "value": 250 },
              { "field": "{{1.billing_address.country_code}}", "operator": "not_equal", "value": "{{1.shipping_address.country_code}}" }
            ]
          }
        },
        {
          "id": 42,
          "label": "Standard Algorithmic Pipeline",
          "filter": {
            "operator": "AND",
            "conditions": [
              { "field": "{{1.total_price}}", "operator": "lt", "value": 250 }
            ]
          }
        }
      ],
      "metadata": { "designer": { "x": 640, "y": 150 } }
    },
    {
      "id": 5,
      "module": "openai-gpt-4:createChatCompletion",
      "version": 2,
      "parameters": {
        "model": "gpt-4o",
        "messages": [
          { "role": "system", "content": "You are an advanced quantitative financial parser specializing in local currency margins." },
          { "role": "user", "content": "Process item: {{2.value.title}} priced at {{2.value.price}} {{1.currency}}. Apply an explicit dynamic tax allocation multiplier of 1.05 if destination is non-US, otherwise output raw integers." }
        ]
      },
      "mapper": {},
      "metadata": { "designer": { "x": 850, "y": 50 } }
    },
    {
      "id": 6,
      "module": "whatsapp-business-cloud:sendMessage",
      "version": 1,
      "parameters": {
        "messaging_product": "whatsapp",
        "type": "text",
        "text": { "body": "{{5.choices[].message.content}}" }
      },
      "mapper": { "to": "{{3.result}}" },
      "metadata": { "designer": { "x": 1050, "y": 50 } }
    },
    {
      "id": 7,
      "module": "google-sheets:addRow",
      "version": 4,
      "parameters": {
        "values": {
          "A": "{{1.created_at}}",
          "B": "🚨 FRAUD ESCALATION BLOCK",
          "C": "{{2.value.title}} (Qty: {{2.value.quantity}})",
          "D": "{{1.total_price}}",
          "E": "Discrepancy: {{1.billing_address.country}} vs {{1.shipping_address.country}}"
        }
      },
      "mapper": {},
      "metadata": { "designer": { "x": 850, "y": 280 } }
    }
  ],
  "connections": {
    "1-2": { "from": 1, "to": 2, "type": "data" },
    "2-3": { "from": 2, "to": 3, "type": "data" },
    "3-4": { "from": 3, "to": 4, "type": "data" },
    "4-5": { "from": 4, "to": 5, "type": "data", "route_id": 42 },
    "5-6": { "from": 5, "to": 6, "type": "data" },
    "4-7": { "from": 4, "to": 7, "type": "data", "route_id": 41 }
  }
}
